@use './partials/vars' as *;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'node_modules/flag-icons/css/flag-icons.min.css';

body {
  background-image: linear-gradient(black, $primary-color 10%);
  color: white;
  min-height: 100vh;
}